* {
  margin-top: 0px;
}
body {
  background-color: black;
  color: #757575;
}

/* .App {
  text-align: center;
} */

.logo {
  position: fixed;
  padding: 11px;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  margin-right: 50px;
  padding:10px;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.links {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  margin-left:200px;
  padding-top: 40px;
  padding: 20px;
  height: 30px;
  background-color:transparent;
  position: fixed;
  object-fit: contain;
}

a:link {
  text-decoration: none !important;
  
}

li {
    
  color: #757575;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.links{
    font-size: 18px;

}
